
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="myinp">
                <form action="">
                    <div class="inblo border all2">
                        <form action="" >
                            <div class="mb-5 mt-4 username loginp">
                                <input type="text" placeholder="username" id="id_username"  class="form-control" name="username">
            
                            </div>
                            <div class="mb-4 password loginp">
                                <input type="password" placeholder="password" id="id_password"  class="form-control" name="password">
            
                            </div>
                            

                            <div class="mb-2 text-center ">
                                <button class="btn btn-success logbtn" type="submit">LOGIN</button>
                            </div>
                            
                        </form>
                        <div class="text-center">
                            if not registered? <button class="sgnbtn" type="button">SIGNUP</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>